{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: centre;
    align-items: center;
    min-height: 100dvh;
}
.box
{
    position: relative;
    width: 450px;
    height: 600px;
    border-radius: 30px;
    background-color: aquamarine;
    padding: 30px 50px;
    box-sizing: 25px 25px ;
}
h2
{
    
}
